<form  #ScreenForm="ngForm" (ngSubmit)="saveScreen(ScreenForm)" style="width:70%;margin:0 auto;">
    <div class="form-group">
        <label for="screenname">Screen Name</label>
        <input type="input" class="form-control" id="screenname" name="screenname" placeholder="Screen Name" [(ngModel)]="model.screenname" required>
    </div>
    <div class="form-group">
        <label for="screenno">Screen No</label>
        <input type="input" class="form-control" id="screenno" name="screenno" placeholder="Screen Number" [(ngModel)]="model.screenno" required>
    </div>
    <div class="form-group">
        <label for="adminid">Admin ID</label>
        <input type="input" class="form-control" id="adminid" name="adminid" placeholder="Admin ID" [(ngModel)]="model.adminid" required>
    </div>
    <div class="form-group">
        <label for="orgname">Organization Name</label>
        <input type="input" class="form-control" id="orgname" name="orgname" placeholder="Organization Name" [(ngModel)]="model.orgname" >
    </div>
    <div class="form-group">
        <label for="screenname">Organization ID</label>
        <input type="input" class="form-control" id="orgid" name="orgid" placeholder="Organization ID" [(ngModel)]="model.orgid" required>
    </div>
    <div style="text-align: center;" class="mt-4">
        <button type="reset" class="btn btn-secondary">Clear</button>
        <button type="submit" class="btn btn-primary ml-4" [disabled]="!ScreenForm.form.valid">Next</button>
    </div>
</form>